@import "../bourbon/_bourbon.scss";
@import "normalize";

$Cwidth:1240px;

* {
    font-family:  "Microsoft YaHei", "Arial", "Hiragino Sans GB", "宋体", sans-serif;
}

ul,li{
        list-style: none; margin: 0; padding: 0;
    }
a{ text-decoration: none;}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {  
  color: #fff;
}
@mixin anInit($anname,$andu:1s,$delay:0s,$timefn:ease,$anfill:both){
    @include animation-name($anname);
    @include animation-duration($andu);
    @include animation-fill-mode($anfill);
    @include animation-delay($delay);
    @include animation-timing-function($timefn);
    
}
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.cbox{
	width: $Cwidth;
	margin: 0 auto;
}

.stab{

	height: 352px;
	
	.img{
		width: 614px;
		height: 352px;
		float: right;
	}
	.text{
	 	width: 572px;
		height: 352px;
		float :left;
		h3{
			height: 50px;
			position: relative;
			top:-8px;
			margin: 0;
			font-size: 30px;
			color: #196dae;
			
		}
		.lab{
			height: 40px;
			line-height: 40px;
			width:inherit;
			font-size: 24px;
			border-bottom: 1px solid #dadada;
				a{
					width: 30%;
					text-align: center;
					display: inline-block;
					color: #787878;
					&:hover{
						color: #333;
					}
				}	
		}
		.con{
			height: 262px;
			overflow: hidden;
			width:inherit;
			color: #565656;
			font-size: 20px;
			line-height: 1.7;
			.scroll{
				
			margin-top:7px;			
			
			
				}
			
		}
	}
		
}

.iconlist{ 
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	padding: 40px 0;
	overflow: hidden;
	.detail{
		height: 200px;
		padding: 0 10px;
		border-top: 1px solid #dadada;
		clear: both;
		color: #565656;
		p{
			font-size: 14px;	
			line-height: 24px;
			margin: 0;
		}
		h3{
			font-size: 24px;
			line-height: 50px;
			
			margin: 0;
		}
		
	}
	a{
		color: #565656;
		font-size: 20px;
		width: 218px;
		height: 278px;
		float: left;
		display: block;
		margin-right: 122px;
		text-align: center;
		i{
		background: #dadada url(img/index/icons.png) no-repeat center top;
			width: 218px;
			height: 218px;
			display: block;
			overflow: hidden;
			border-radius: 100%;
			margin: 0 auto 10px;
		}
		&.nm{
			margin-right: 0px;
		}
		&:nth-child(2) i{background-position: center -218px}
		&:nth-child(3) i{background-position: center -218px * 2}
		&:nth-child(4) i{background-position: center -218px * 4}
		
		&:nth-child(6) i{background-position: center -218px * 3}
		&:nth-child(7) i{background-position: center -218px * 5}
		&:nth-child(8) i{background-position: center -218px * 6}
		&:nth-child(9) i{background-position: center -218px * 7}
		&:hover{
			i{background-color: #f19826}
		}
	}
}
.hide{ display: none}


.zoomIn{
     @include anInit(zoomIn);
}

@include keyframes(zoomIn){
  50% {
	   opacity: 1;
  }

  0% {
	   opacity: 0;
   @include transform(scale3d(1, 0, 1));
  }
}
