@import "../bourbon/_bourbon.scss";
@import "normalize";

$Cwidth:1380px;

* {
    font-family:  "Microsoft YaHei", "Arial", "Hiragino Sans GB", "宋体", sans-serif;
}

ul,li{
        list-style: none; margin: 0; padding: 0;
    }
a{ text-decoration: none;}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {  
  color: #fff;
}
@mixin anInit($anname,$andu:1s,$delay:0s,$timefn:ease,$anfill:both){
    @include animation-name($anname);
    @include animation-duration($andu);
    @include animation-fill-mode($anfill);
    @include animation-delay($delay);
    @include animation-timing-function($timefn);
    
}
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.cbox{
	width: $Cwidth;
	margin: 0 auto;
    
}
.nbox{
    width: 1380px;
	margin: 0 auto;
    
}
body{ background: #f9f9f9}
.head{
    height: 1149px;
    min-width: $Cwidth;
    background: #f9f9f9 url(img/index/index_bg.jpg) no-repeat center top;
    overflow: hidden;
    position: relative;
    .menu{
        height: 90px;
        margin-top: 25px;
       
        
        a{
            float: right;
            line-height: 90px;
            color: #0f6ab4;
            font-size: 15px;
            min-width: 66px;
            margin-right: 60px;
            white-space: nowrap;
            text-align: center;
            letter-spacing: 2px;
            &:hover{
                opacity: .6
            }
            &.cur{
                position: relative;
                cursor: default;
                &:after{
                    position: absolute;
                    width: 100%;
                    height: 0px;
                    border-top:2px solid #0f6ab4;
                    content: ' ';
                    top:60px;
                    left:0px;

                }
                &:hover{
                opacity: 1
                }
            }
            
        }
        .logo{
            margin-left: 35px;
            width: 180px;
            height: 90px;
            display: block;
            float: left;
             margin-right: 0px;
             &:after{
                 border: none;
                 
             }
        }
        &.nbox .logo{
            margin-left: 105px;
            
        }
        .code{
            
            width: 62px;
            height: 46px;
            display: block;
            float: left;
             margin-left: 10px;
            margin-top: 20px;
            margin-right: 0;
            position: relative;
            &:hover{
                &:after{
                    content: " ";
                    position: absolute;
                    height: 0;
                    left: 5px;
                    right:5px;
                    bottom:3px;
                     border-bottom: 1px solid #555;
                }
               
            }
        }
    
    }
    .media{
        
        height: 580px;
        overflow: hidden;
        position: relative;
            .mp4{
            
            width: 630px;
            height: 353px;
            display: block;
            position: absolute;
            background: #000;
            right: 46px;
            top:130px;
            overflow: hidden;
                img{ width: 563px;
                height: 353px;}
               
            }
        .textGif{

            width: 544px;
            height: 74px;
            display: block;
            position: absolute;
            left: 128px;
            top:227px;
        }
    
    }
    

    .news{ 
        position: relative;    
        height: 408px;
        
        .newsScroll{width: 1380px;height: 331px; position: relative;overflow: hidden;
            .scrollBox{
                width:2800px;height: 331px; position: absolute;left: 0;top: 0;
                @include transition(all 500ms ease-out);
            }
        
        }
        .leftArr{ 
            position: absolute;
            left:-100px;
            top:121px;
            width: 44px;
            height: 89px;
            display: block;
            background: url(img/index/left.png) center center;
            opacity: .5;
            &:hover{
                opacity: 1
            }
                
        }
        .rightArr{
             position: absolute;
            right:-100px;
            top:121px;
            width: 44px;
            height: 89px;
            display: block;
            background: url(img/index/right.png) center center;
            opacity: .5;
            &:hover{
                opacity: 1
            }
            
        }
        .more{
            width: 84px;
            height: 34px;
            text-align: center;
            line-height: 34px;
            font-size: 14px;
            color: #fff;
            background: #474747;
            position: absolute;
            top: 360px;
            right:0px;
            &:hover{
            opacity: .8
            }
                
        }
        
    }
    .item{
    
        width: 308px;
        height: 307px;
        float: left;
        margin:0 12px 0 0;   
        padding: 12px 14px;
        background: #e7e7e7;
        color:#565656;
        font-size: 14px;
        line-height: 24px;
        img{width: 308px;height: 166px;}
        em{ font-style: normal;line-height: 30px; height: 60px; overflow: hidden; margin-bottom: 16px;display: block; font-size: 18px;color: #444444;}
        
        &:hover{
            opacity: .8
        }
        
        &:last-child{
            
            margin-right: 0;
        }
    
        
    }
    
    
    

}
.welcome{
    height: 468px;
    min-width: $Cwidth;
    background: url(img/index/index_bg2.jpg) no-repeat center center;
    overflow: hidden;
    color: #fff;
    h3{text-align: center;
    font-size: 60px;
    margin: 110px 0 60px 0;
        font-weight: 400;
    }
    p{
    font-size: 20px;
        line-height: 34px;
        text-align: center;
        margin: 0;
    }
    table{
        border-collapse: collapse;
        width: 100%;
        margin-top: 128px;
        tr{
            th{text-align: center; width: 33%; color: #f19826;font-size: 60px; font-weight: 400;}
            td{
             text-align: center;
                font-family: Arial;
                font-size: 146px;
                color: #ffffff;
                padding-top: 10px;
            }
        }
    }
}
.stab{

	height: 352px;
    margin-top: 132px;
	margin-bottom: 108px;
	.img{
		width: 614px;
		height: 352px;
        overflow: hidden;
		float: right;
	}
	.text{
	 	width: 572px;
		height: 352px;
		float :left;
		h3{
			height: 50px;
			position: relative;
			top:-8px;
			margin: 0;
			font-size: 30px;
			color: #196dae;
			
		}
		.lab{
			height: 40px;
			line-height: 40px;
			width:inherit;
			font-size: 24px;
			text-align: center;
			border-bottom: 1px solid #dadada;
				a{
					width: 30%;
					text-align: center;
					display: inline-block;
					color: #a1a1a1;
					&:hover{
						color: #565656;
					}
					&.cur{
						color: #565656;
                        position: relative;
                        &:after{
                            content: " ";
                            position: absolute;
                            bottom:0;
                            left: 15px;
                            right: 15px;
                            height: 0px;
                            border-bottom: 3px solid #999;
                        }
					}
				}	
		}
		.con{
			height: 262px;
			overflow: hidden;
			width:inherit;
			color: #565656;
			font-size: 20px;
			line-height: 1.7;
			.scroll{
				
			margin-top:7px;			
			
			
				}
			
		}
	}
		
}
.ltab{

	margin-bottom: 80px;
	
	.text{
		overflow: hidden;

		h3{
			height: 50px;
			position: relative;
			top:-8px;
			margin: 90px 0 10px 0;
			font-size: 30px;
			color: #196dae;
			
		}
		.lab{
			height: 40px;
			line-height: 40px;
			width:inherit;
			font-size: 24px;
			border-bottom: 1px solid #dadada;
			text-align: center;
			padding-bottom: 14px;
				a{
					width: 30%;
					text-align: center;
					display: inline-block;
					color: #a1a1a1;
					&.cur{
						color: #565656;
                         position: relative;
                        &:after{
                            content: " ";
                            position: absolute;
                            bottom: -14px;
                            left: 120px;
                            right: 120px;
                            height: 0px;
                            border-bottom: 3px solid #999;
                        }
					}
					&:hover{
						color: #565656;
					}
					&:first-child{
						text-align: right;
                        &.cur:after{
                            bottom: -14px;
                            left: 315px;
                            right: -60px;
                        }
					}
					&:last-child{
						text-align: left;
                        &.cur:after{
                            bottom: -14px;
                            right: 305px;
                            left: -50px;
                        }
					}
				}	
		}
		.con{
			img{ max-width: $Cwidth; width: 1121px;height: 429px;overflow: hidden;margin: 30px auto; display: block;}
			overflow: hidden;
			color: #565656;
			font-size: 20px;
			line-height: 1.7;
            padding: 0 129px;
			p{
				margin: 1em 0;
			}
		}
	}
		
}
.iconlist{ 
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	padding: 40px 0;
	overflow: hidden;
	.detail{
		height: 200px;
		padding: 0 10px;
        margin: 0 71px;
		border-top: 1px solid #dadada;
		clear: both;
		color: #565656;
        
		p{
			font-size: 18px;	
			line-height: 1.7;
			margin: 0;
		}
		h3{
			font-size: 24px;
			line-height: 50px;
			
			margin: 0;
		}
		
	}
	a{
		color: #565656;
		font-size: 20px;
		width: 218px;
		height: 278px;
		float: left;
		display: block;
		margin-right: 122px;
		text-align: center;
		i{
		background: #dadada url(img/index/icons.png) no-repeat center top;
			width: 218px;
			height: 218px;
			display: block;
			overflow: hidden;
			border-radius: 100%;
			margin: 0 auto 10px;
		}
		&.nm{
			margin-right: 0px;
		}
        &:nth-child(1){ margin-left: 71px;}
		&:nth-child(2) i{background-position: center -218px}
		&:nth-child(3) i{background-position: center -218px * 2}
		&:nth-child(4) {
            margin-right: 0px;
            i{background-position: center -218px * 4;}
        }
		
        &:nth-child(6) {
            margin-left: 71px;
            i{background-position: center -218px * 3}
        }
		&:nth-child(7) i{background-position: center -218px * 5}
		&:nth-child(8) i{background-position: center -218px * 6}
		&:nth-child(9) {
            margin-right: 0px;
            i{background-position: center -218px * 7;}
        }
		&:hover,&.cur{
			i{background-color: #f19826}
		}
	}
}
ul.circle {list-style-type:disc}
.history{

    .cbox{ width: 1180px;padding-left: 60px;}
    height: 538px;
    background: url(img/index/index_history.jpg) no-repeat center center;
    overflow: hidden;
    min-width: $Cwidth;
    h3{
        
        font-weight: 400;
        color: #f9f9f9;
        font-size: 60px;
        line-height: 70px;
        margin: 80px 0 0 0;
    }
    .time{
        margin-top: 38px;
        overflow: hidden;
        a{

            display: block;
            float: left;
            margin-right: 22px;
            position: relative;
            width: 108px;
            height: 108px;
            text-align: center;
            line-height: 108px;
            font-family: Arial;
            font-size: 38px;
            border-radius: 100%;
            color: #a0823f;
            
           i{
            
                width: 100%;
                height: 100%;
                position: absolute;
                content: ' ';
                background: #dadada;
                display:block;
                border-radius: 100%;
                left:0;
                top:0;
               font-style: normal;
            }
            &:nth-child(3),&.b1{
                width: 98px;
                height: 98px;                
                font-size: 30px;
                line-height: 98px;
                i{
                top:5px;
                }

            }
            
             &:nth-child(2),&.b2{
                width: 88px;
                height: 88px;
                font-size: 22px;
               line-height: 88px;
                i{
                top:9px;
                }

            }
           &:nth-child(1), &:nth-child(5), &:nth-child(7),&.b3{
                width: 78px;
                height: 78px;
                font-size: 22px;
               line-height: 78px;
                i{
                top:15px;
                }

            }
          
            &:nth-child(6),&.b4{
                width: 70px;
                height: 70px;
            font-size: 20px;
               line-height: 70px;
                i{
                top:19px;
                }

            }
           &:nth-child(8),&.b5{
                width: 67px;
                height: 67px;
                font-size: 20px;
              line-height: 67px;
                i{
                top:20px;
                }
            }
            &:nth-child(9),&.b6{
                width: 60px;
                height: 60px;
                font-size: 20px;
              line-height: 60px;
                i{
                top:23px;
                }
            }
            &:nth-child(10),&.b7{
                width: 50px;
                height: 50px;
                font-size: 18px;
              line-height: 50px;
                i{
                top:28px;
                }
            }
            &:hover,&.cur{
                i{
                    background: #fff;
                }
            }
        }
    }
    ul{
       clear: both;
       list-style-type: disc;
       padding-left: 0px;
       margin:  36px 0 0 0;
        li{
            font-size: 20px;
            list-style-type: none;
            color: #fff;
            display:list-item;
            line-height: 34px;
        
        }
    }
    
}

.server{
    text-align: center;
    overflow: hidden;
    min-width: $Cwidth;
    .cbox{position: relative;}
    h3{color: #196dae;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin: 124px 0 0 0;
    text-align: center;
        &.contact{
            color: #565656;
            
            margin: 85px 0 78px 0;
            
        }
    }
    
    p{font-size: 20px;
    color: #565656;
        line-height: 36px;
    }
    
    .context{
    width: 988px;
        background: #dadada;
        padding: 18px 40px;
        font-size: 14px;
        line-height: 26px;
        text-align: left;
        color: #565656;
        margin: 0 auto;
        border:1px solid #adadad;
        position: absolute;
        bottom: 245px;
        left: 150px;
            
            
    }

    
}

.footer{
    margin-top: 30px;
    position: relative;
    height: 418px;
    background: #3b3b3b;
    min-width: $Cwidth;
    overflow: hidden;
     font-size: 14px;
     .cbox{position: relative; width: 1237px}
    .logo{
        position: absolute;
        top:67px;
        left:0;
        display: block;
        width: 312px;
        height: 89px;
        border-right:1px solid #fff;
        background: url(img/footerlogo.png) no-repeat left center;
        &:hover{
            opacity: .6
        }
    }
    
    .code{ background: url(img/code2.jpg) no-repeat center center;
        background-size: 300px;
        width: 300px;height: 300px;
        overflow: hidden;
        position: absolute;
        right: 0px;
        top:76px;
    }
    
    .unicom{

        background: url(img/unicom.png) no-repeat center center;
        background-size: 187px;
        width: 187px;height: 100px;
        overflow: hidden;
        position: absolute;
        top: 270px;
        left:0;
    }
    .greenlive{

        background: url(img/greenlive.png) no-repeat center center;
        width: 208px;height: 100px;
        overflow: hidden;
        position: absolute;
        top: 270px;
        left:240px;
    }
    .goyo{

        background: url(img/goyo.png) no-repeat center center;
        background-size: 200px;
        width: 200px;height: 100px;
        overflow: hidden;
        position: absolute;
        top: 270px;
        left:440px;
    }
    .cabr{

        background: url(img/cabr.png) no-repeat center center;
        background-size: 121px;
        width: 121px;height: 121px;
        overflow: hidden;
        position: absolute;
        top: 270px;
        left:660px;
    }
    .centext{
        position: absolute;
        top:67px;
        left:312px;
        display: block;
        width: 610px;
        height: 89px;
        border-right:1px solid #fff;
        text-align: center;
        line-height: 49px;
        
        a{
            color: #f19826;
            margin: 0 20px;
            line-height: 24px;
            &:hover{
                opacity: .5;
            }
        } 
        
        
    }
    .dropList{ 
        position: absolute;
        background: #fff url(img/index/arr_bg.jpg) no-repeat  216px 13px;
        top:76px;
        z-index: 3;
        left:382px;width: 232px;height: 32px;border: 1px solid #edaf58; line-height: 32px; font-size: 14px;color: #7b7b7b; overflow: hidden;text-indent: 24px;
            a{
                
               color: #000000; font-size: 14px; line-height: 24px;display:block;background: #fff; text-indent: 24px;
                &:hover{ background: #cacaca }
            }
            &:hover{
                height: auto;
                max-height: 200px;                
                overflow: auto;
            }
        }
        
        .gobtn{background: #edaf58; font-size: 14px; color: #fff;height: 34px;width: 56px;display: block;position: absolute;top:76px; left: 618px;line-height: 34px; text-align: center;}
    .copyright{
        position: relative;
        top: 130px;
        left:382px;
        z-index: 1;
        color: #bfbfbf;
    }
    .text{
        width: 280px;
        position: absolute;
        top:124px;
        left: 495px;
        color: #bfbfbf;
         line-height: 24px;
        a{
            color: #bfbfbf;
            display: block;
            line-height: 24px;
            &:hover{
                color: #f19826;
            }
        }
        &.links{
             width: 100px;
            left: 383px;
        }
        &.sec{
            left: 775px;
        }
    }
    
}

.hide{ display: none}
.hideo{  opacity: 0;}

.zoomIn{
     @include anInit(zoomIn);
}

@include keyframes(zoomIn){
  50% {
	   opacity: 1;
  }

  0% {
	   opacity: 0;
   @include transform(scale3d(1, 0, 1));
  }
}


@include keyframes(fadeIn){
  0% {
    opacity: 0;
  }
100% {
    opacity: 1;
}
}
@include keyframes(fadeOut){
  0% {
    opacity: 1;
  }
100% {
    opacity: 0;
}
}


.fadeOut{
@include anInit(fadeOut,0.5s);
}


.fadeIn{
@include anInit(fadeIn,1s);
}

.fadeOut2{
@include anInit(fadeOut,.5s);
}


.fadeIn2{
@include anInit(fadeIn,.5s);
}
@media (max-width:1480px) {

    .head .news .leftArr{
        left:660px;
        top:360px;
        background-image: none;
        background-color: #000;
        width:20px;
        height:20px;
        border-radius: 100%;
        &.cur{
                opacity: 1
            }
        
    }
    .head .news .rightArr{
        left:700px;
        top:360px;
        background-image: none;
        background-color: #000;
        width:20px;
        height:20px;
        border-radius: 100%;
        &.cur{
                opacity: 1
            }
    }
}