@import "../bourbon/_bourbon.scss";
@import "normalize";

$Cwidth:1380px;

* {
    font-family:  "Microsoft YaHei", "Arial", "Hiragino Sans GB", "宋体", sans-serif;
}

ul,li{
        list-style: none; margin: 0; padding: 0;
    }
a{ text-decoration: none;}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;
}

:-ms-input-placeholder {  
  color: #fff;
}
@mixin anInit($anname,$andu:1s,$delay:0s,$timefn:ease,$anfill:both){
    @include animation-name($anname);
    @include animation-duration($andu);
    @include animation-fill-mode($anfill);
    @include animation-delay($delay);
    @include animation-timing-function($timefn);
    
}
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.cbox{
	width: $Cwidth;
	margin: 0 auto;
    
}
body{ background: #f9f9f9}
.head{
    height: 504px;
    min-width: $Cwidth;
    background: #f9f9f9 url(img/item/item_bg.jpg) no-repeat center top;
    overflow: hidden;
       .menu{
        height: 90px;
        margin-top: 25px;
       
        
        a{
            float: right;
            line-height: 90px;
            color: #0f6ab4;
            font-size: 15px;
            min-width: 66px;
            margin-right: 60px;
            white-space: nowrap;
            text-align: center;
            letter-spacing: 2px;
            &:hover{
                opacity: .6
            }
            &.cur{
                position: relative;
                cursor: default;
                &:after{
                    position: absolute;
                    width: 100%;
                    height: 0px;
                    border-top:2px solid #0f6ab4;
                    content: ' ';
                    top:60px;
                    left:0px;

                }
                &:hover{
                opacity: 1
                }
            }
            
        }
        .logo{
            margin-left: 35px;
            width: 180px;
            height: 90px;
            display: block;
            float: left;
             margin-right: 0px;
             &:after{
                 border: none;
                 
             }
        }
        &.nbox .logo,&.cbox .logo{
            margin-left: 105px;
            
        }
        .code{
            
            width: 62px;
            height: 46px;
            display: block;
            float: left;
             margin-left: 10px;
            margin-top: 20px;
            margin-right: 0;
        }
    
    }
    

    
    h2{
        clear: both;
        color: #f9f9f9;
        font-size: 60px;
        line-height: 200px;
        text-indent: 250px;
        margin: 0;
        font-weight: 400;
    }


}
.conbox{

    min-height: 600px;
        background: #fff ;
        margin-top: -183px;
        margin-bottom: 87px;
    overflow: hidden;
   
    .mb{
        height: 45px;
        overflow: hidden;
         padding-top: 45px;
        text-indent: 304px;
         color: #0e6ab4;
            font-size: 14px;
        a{
           
             color: #0e6ab4;
       
        }
        
    }    
    .leftnav{
        width:271px;
        float: left;
        text-align: right;
        font-size: 14px;
        padding-top: 10px;
        a{
            color: #0e6ab4;
            border-left: 2px solid transparent ;
            padding: 0 22px; 
            margin-bottom: 25px;
            display: inline-block;
            
            &.cur{
                border-color: #f19826;
                cursor: default;
            }
            
            
        }
    }
    .conzone{
        margin-left: 272px;
        min-height: 600px;
        width: 717px;
        padding-left: 33px;
        position: relative;
        letter-spacing: 1px;
        &:after{
            position: absolute;
            content: ' ';
            left: 0px;
            top:12px;
            bottom: 30px;
            width: 0;
            border-left: 1px solid #bfbfbf;
        }
        &.list{
            &:after{
            bottom: 60px;

            }
            
        }
        h3{
            color: #444;
            font-weight: 400;
            font-size: 24px;
            line-height: 1.8em;
            padding: 8px 0 8px 0;
            border-bottom: 1px solid #bfbfbf;
            margin: 0;
            em{
                
                font-size: 14px;
                color: #bfbfbf;
                font-style: normal;
                display: block;
            }
        }
        .text{
            padding: 14px 0;
            color: #565656;
            line-height: 24px;
            font-size:14px;
            p{margin:12px 0}
            em{ font-style: normal; color: #0e6ab4}
            img{ max-width: 717px}
            
                
        }
        
        ul.list{
            
            li{ display: block;
                height: 48px;
                line-height: 48px;
                overflow: hidden;
                border-bottom: 1px dashed #bfbfbf;
                font-size: 14px;
                
                a{
                    color: #444444;
                    display: block;
                    em{
                        
                        font-style: normal;
                        color: #bfbfbf;
                        float: right;
                    }
                    &:hover{
                        
                        opacity: .6
                    }
                
                
                }
            }
            
        }
        
    .page{ clear: both; margin: 40px 0; text-align: right;color: #fff;
            a{ border: 1px solid #c2c2c2; padding: 3px 6px; color: #ccc;
                &.current{ cursor: default; text-decoration: underline;border-color:#666; color: #333}
            &:hover{border-color:#666; color: #333}
            }
            }
    }
     &.item{ opacity: .9;
         h3{min-height:2em}
    }
}

.footer{
    margin-top: 30px;
    position: relative;
    height: 418px;
    background: #3b3b3b;
    min-width: $Cwidth;
    overflow: hidden;
     font-size: 14px;
     .cbox{position: relative;}
    .logo{
        position: absolute;
        top:127px;
        left:0;
        display: block;
        width: 312px;
        height: 89px;
        border-right:1px solid #fff;
        background: url(img/footerlogo.png) no-repeat left center;
        &:hover{
            opacity: .6
        }
    }
    
    .code{ background: url(img/code.jpg) no-repeat center center;
        width: 158px;height: 158px;
        overflow: hidden;
        position: absolute;
        right: 0;
        top:99px;
    }
    
    .centext{
        position: absolute;
        top:127px;
        left:312px;
        display: block;
        width: 610px;
        height: 89px;
        border-right:1px solid #fff;
        text-align: center;
        line-height: 49px;
        
        a{
            color: #f19826;
            margin: 0 20px;
            line-height: 24px;
            &:hover{
                opacity: .5;
            }
        } 
        
        
    }
    .dropList{ 
        position: absolute;
        background: #fff url(img/index/arr_bg.jpg) no-repeat  216px 13px;
        top:136px;
        z-index: 3;
        left:382px;width: 232px;height: 32px;border: 1px solid #edaf58; line-height: 32px; font-size: 14px;color: #7b7b7b; overflow: hidden;text-indent: 24px;
            a{
                
               color: #000000; font-size: 14px; line-height: 24px;display:block;background: #fff; text-indent: 24px;
                &:hover{ background: #cacaca }
            }
            &:hover{
                height: auto;
                max-height: 160px;                
                overflow: auto;
                
            }
        }
        
        .gobtn{background: #edaf58; font-size: 14px; color: #fff;height: 34px;width: 56px;display: block;position: absolute;top:136px; left: 618px;line-height: 34px; text-align: center;}
    .copyright{
        position: relative;
        top: 190px;
        left:382px;
        z-index: 1;
        color: #bfbfbf;
    }
    .text{
        width: 280px;
        position: absolute;
        top:124px;
        left: 495px;
        color: #bfbfbf;
         line-height: 24px;
        a{
            color: #bfbfbf;
            display: block;
            line-height: 24px;
            &:hover{
                color: #f19826;
            }
        }
        &.links{
             width: 100px;
            left: 383px;
        }
        &.sec{
            left: 775px;
        }
    }
    
}

.hide{ display: none}



@include keyframes(fadeIn){
  0% {
    opacity: 0;
  }
100% {
    opacity: 1;
}
}
@include keyframes(fadeOut){
  0% {
    opacity: 1;
  }
100% {
    opacity: 0;
}
}


.fadeOut{
@include anInit(fadeOut,0.5s);
}


.fadeIn{
@include anInit(fadeIn,0.5s);
}
